* {
  box-sizing: border-box;
}

html {
font-family: Arial, sans-serif;
}

body {
  background-color: #1E1F26;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  gap: 40px;
}

header {
  width: 100%;
}
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #4D648D;
  padding: 10px;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid black;
  width: 100%;
  height: 100px;
  text-align: center;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.status h2 {
  vertical-align: auto;
}

nav h2 {
  color: white;
  margin: 0;
  
}
nav a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  border-radius: 50px;
}

nav a:hover{
  background-color: #D0E1F9;
  color: #1E1F26;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4D648D;
  width: 100%;
  max-width: 650px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 50px;
}

.bookingForm{
  display: flex;
  flex-direction: column;
  background-color: #D0E1F9;
  gap: 20px;
  width: 100%;
  padding: 20px;
  border-radius: 50px;
}

.duration {
  width: 70%;
  margin: 0 auto;
}

label {
  font-size: 1.5rem;
}

input, select {
  padding: 15px;
  border-radius: 50px;
}

select {
  width: 150px;
  text-align: center;
  font-size: 1.2rem;
  border: 0px
}

input[type='date'] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  border: 0px;
}


.duration {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 20%;
  align-items: center;
}

textarea {
  height: 150px;
  font-size: 1.2rem;
  resize: none;
  border: 0px;
  border-radius: 10px;
}

input[type="submit"] {
  width: 200px;
  margin: 0 auto;
  border: 0px;
}

input[type="submit"]:hover {
  background-color: rgb(40, 54, 85,0.2);
}

.timelineTable {
  display: flex;
  flex-direction: column;
  background-color: #D0E1F9;
  border-radius: 50px;
  width: 100%;
  padding: 20px;
  border-radius: 50px;
}

.timelineTable input[type='date'], .timelineTable input[type='submit'] {
  margin-bottom: 20px;
}


.hour {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  width: 100%;
  height: 40px;
  background: gray;
}

.hour:first-of-type {
  border-top: 2px solid black;
}

.time {
  width:10%;
  min-width: 39px;
  height: 100%;
  background-color: orange;
}

.timeSpan {
  display: flex;
  flex-flow: column;
  width: 90%;
  height:100%;
}

.hour .time h1 {
  margin: 0 auto;
  height: 50%;
  font-size: 0.7rem;
  border-bottom: 1px dashed black;
  text-align: center;
}

#firstHalf {
  width: 100%;
  height: 50%;
}

#secondHalf {
  width: 100%;
  height: 50%;
}

.booked {
  background-color: #4D648D;
}