body {
    font-family: Arial, sans-serif;
    background-color: #1c2739; 
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4D648D;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 1.8em;
    color: #ffffff;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 10px;
    border-radius: 50px;
}

nav ul li a:hover {
    background-color: #D0E1F9;
    color: #1E1F26;
}

body {
  text-align: center;
}

.profile-container {
    max-width: 800px;
    margin: 40px auto;
    background-color: #4D648D;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.profile-display {
    text-align: center;
    margin-bottom: 30px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ffffff;
    margin-bottom: 15px;
}

.profile-picture:hover {
    border-color: #007bff;
}

.profile-display h2 {
    font-size: 1.5em;
    margin-top: 10px;
}

.profile-display p {
    font-size: 1.1em;
    color: #bbb;
    margin-top: 10px;
    line-height: 1.6;
}

.profile-edit-form {
    margin-top: 40px;
    border-top: 2px solid #f2f3f5;
    padding-top: 20px;
}

.profile-edit-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 1.1em;
    font-weight: bold;
    color: #ffffff;
}

input[type="text"], input[type="email"], input[type="file"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
}

button {
    width: 100%;
    padding: 14px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 1.2em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004085;
}
