header {
    background-color: purple;
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
    padding-top: 4em;
}

body {
    background: blue;
    color: #F0F6FC;
    font-family: sans-serif;
    font-weight: 400;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
    padding-top: 4em;
}

@media screen {
    html {
        max-width: 288px;
        margin: auto;
    }
}

.container {
    font-size: 0.875em;
    background: #151B23;
    margin: auto;
    width: auto;
    padding: 1.15em;
    border: max(1px, 0.0625rem) solid rgba(61, 68, 77, 0.7019607843);
    border-radius: 5px;
}

.container form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 8px;
}
  
.container form input {
    background: #0d1117;
    border: max(1px, 0.0625rem) solid rgba(61, 68, 77, 0.7019607843);
    padding: 5px 12px;
    border-radius: 25px;
    color: #F0F6FC;
    margin-bottom: 1em;
}

.error {
    text-align: center;
    color: red;
    font-size: 14px;
    margin-top: 4px;
}